input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

input[type=number] {

    -moz-appearance:textfield;

}

#osdo2{
  border:solid black 1px;
}
/******************* buscardor ****************/

.form_search{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -0-flex;
  display: flex;
  float: right;
  background: initial;
  padding: 10px;
  border-radius: 10px;
}
.form_search .btn_search{
  background: #1faac8;
  color: #fff;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
}

/***********paginador************/
.paginador ul{
  padding: 15px;
  list-style: none;
  background: #fff;
  margin-top: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -0-flex;
  display: flex;
  justify-content: flex-end;

}
.paginador a, .pageSelected{
  color: #428bca;
  border: 1px solid #ddd;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 35px;
}
.paginador a:hover{
  background: #ddd;
}
.pageSelected{
  color: #fff;
  background: #428bca;
  border: 1px solid #428bca;
}